@charset "utf-8";

img {
	width: 100%;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
body {
	color: #333;
	background-color: beige;
	font-family: "メイリオ", "Hiragino Kaku Gothic", sans-serif;
	position: relative;
	left: 0;
	overflow: hidden;
}
#slide_menu {
	position: fixed;
	top: 0;
	left: -120px;
	width: 120px;
	height: 100%;
	background: #e87272;
}
#wrap {
	background-color: aliceblue;
	width: 600px;
	margin: 0 auto;
	padding: 5px;
	position: relative;
}
#btn-menu {
	position: absolute;
	top: 0;
	left: 10px;
	color: orange;
}
header {
	margin-bottom: 5px;
}
header h1 {
	margin: 0;
	font-size: 1em;
	text-align: center;
}
article {
	width: 50%;
	float: left;
	background-color: bisque;
}
section#gazoh {
	margin: 5px;
}
figure {
	width: 290px;
	height: 190px;
	margin: 0;
}
section#kaiwa {
	margin: 5px;
}
.message-btn {
	display: none;
}
aside {
	width: 50%;
	float: right;
	background-color: antiquewhite;
}
.modal-close {
	display: none;
}
aside h2 {
	margin: 10px;
	font-size: 1em;
}
.log_area {
	margin: 5px;
	padding: 5px;
	height: 400px;
	overflow-y: scroll;
}
footer {
	clear: both;
}
input#ohanashi {
	height: 30px;
	width: 280px;
}
form p {
	overflow: hidden;
}
#btn-talk {
	width: 44px;
	height: 44px;
	padding: 5px;
	float: right;
}
#btn-logend {
	height: 44px;
}
#btn-end {
	height: 44px;
}
@media screen and (max-width: 481px){

	#wrap {
		width: 100%;
		position: relative;
	}
	header p {
		display: none;
	}
	article {
		width: 100%;
		float: none;
	}
	article p {
		margin-top: 5px;
		margin-bottom: 0;
	}
	#btn-talk {
		margin-right: 10px;
	}
	footer {
		clear: both;
		font-size: 0.8em;
	}
	aside {
		width: 100%;
		float: none;
	}
	#kaiwa {
		position: relative;
	}
	.message-btn {
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100px;
		line-height: 1.8;
		text-align: center;
		padding: 2px;
		margin-top: 5px;
		border-radius: 2px;
		background-color: #fffacd;
		background: linear-gradient(to bottom, #fffacd, #f5deb3);

	}
	.modal-overlay,
	.modal {
		display: none;
	}
	.modal-overlay {
		width: 100%;
		height: 100%;
		background-color: #666;
		opacity: .6;
		position: fixed;
		top: 0;
		left: 0;
	}
	.modal {
		width: 90%;
		background-color: #fafafa;
		position: fixed;
		top: 30px;
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
		padding: 10px 0 0;
		border-radius: 2px;
	}
	.modal-contents {
		position: relative;
	}
	.modal-close {
		display: block;
		position: absolute;
		color: red;
		top: 0;
		right: 0;
	}
}
